html{
	background: Grey;
}

#filezillatag{
	height: 100px;
	Width: 100px;
}

header{
	padding-left:90px;
	padding-right:50px;
	background: white;
	text-align:center;
}

a {
	text-decoration: none; 
}

p{
	margin:10px;
}

*{
	text-decoration:none;
	box-sizing: border-box;
	}
	
body{
	margin: 0 auto;
	width:900px;
	border: 1px solid #000000;
	background: white;
}

aside {
	float:right;
	width:300px;
	height:260px;
	background:white; 
}

article { 
    display: block;
}

nav {
	display:inline-block;
	width:899px;
	background: white;
	list-style:none;
	text-align:left;
	word-spacing:50px;
	border: 1px solid #000000
	
}

/*Første Meny*/
nav ul {  
    margin: 0 auto;  
    width: 800px;  
    list-style: none;
} 
	
nav ul li{
	display: inline-block;
}

nav ul li a { 
    display: block;
	margin-right: 10px;  
    width: 110px;
    font-size: 18px;  
    line-height: 44px;    
    text-decoration: none;	
    color: black;
}  

/* Andre meny */
nav ul li ul{
	display:none;
	position:absolute;
}

nav ul li:hover ul{
	display: block;
	width: 110px;
	border:1px solid black;
	background:#cccccc;
	margin:0;
	padding:0;
}


nav ul li ul li{
	display: inline-block;
	border-style:none;
}


nav ul li ul li a{
	display:block;
	line-height: 30px;
	text-align: left;
}

footer{
	clear:both;
	background:#cccccc;
	border-top:1px solid #000000;
	padding:5px;
	text-align:center;
	color:#000000;
	width: 891px;
}